<p></p>
<h1>チーム一覧の表示</h1>


    <div class="text-right">
    　  <%= link_to 'チーム登録をする', new_team_path, class: 'btn btn-lg btn-outline-secondary' %>
    </div>
    
    <div class="text-center">
        <p>店舗検索入れる予定</p>
    </div>

    <div class="text-center">
        <%= link_to '口コミを投稿する', new_review_path, class: 'btn btn-lg btn-primary' %>
    </div>

    
