<p></p>
<div class="text-center">
<div class="footer">
      <ul class="footer-language__items">
          <li>
            <%= link_to 'お問い合わせ', new_contact_path %>
          </li>
          <li>
            <a href="*">利用規約</a>
          </li>
          <li>
            <a href="*">個人情報保護方針</a>
          </li>
      </ul>
  </div>


<div class="mod-footer-copyright"> Copyright &copy;Spolead. All rights reserved. </div>  

</div>